@import './uwb-styles.scss';

@font-face {
  font-family: "Trasandina";
  src: url("../font/Trasandina-Regular.otf")
  format("truetype");
}

* {
  font-family: "Trasandina";
}

.p-inputtext.ng-invalid,
.p-password.ng-invalid,
uwb-single-select.ng-invalid > span > p-dropdown > .p-dropdown,
uwb-calendar.ng-invalid > span > p-calendar > span input,
uwb-multi-select.ng-invalid > span > p-multiSelect > .p-multiselect,
uwb-tree-select.ng-invalid > span > p-treeselect > .p-treeselect,
uwb-search-dropdown.ng-invalid > p-dropdown > .p-dropdown,
.p-dropdown .p-inputtext.ng-invalid,
.p-autocomplete .p-inputtext.ng-invalid,
.p-calendar .p-inputtext.ng-invalid,
.p-chkbox-box.ng-invalid,
.p-radiobutton-box.ng-invalid,
.p-inputswitch.ng-invalid,
.p-multiselect.ng-invalid,
.p-spinner.ng-invalid {
  border-left: 5px solid red;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px
}

 .p-inputtext.ng-valid,
 .p-password.ng-valid,
 uwb-single-select.ng-valid > span > p-dropdown > .p-dropdown,
 uwb-calendar.ng-valid > span > p-calendar > span input,
 uwb-multi-select.ng-valid > span > p-multiSelect > .p-multiselect,
 uwb-tree-select.ng-valid > span > p-treeselect > .p-treeselect,
 uwb-form-control-calendar.ng-valid > p-calendar > span input,
 uwb-search-dropdown.ng-valid > p-dropdown > .p-dropdown,
 .p-dropdown .p-inputtext.ng-valid,
 .p-autocomplete .p-inputtext.ng-valid,
 .p-calendar .p-inputtext.ng-valid,
 .p-chkbox-box.ng-valid,
 .p-radiobutton-box.ng-valid,
 .p-inputswitch.ng-valid,
 .p-multiselect.ng-valid,
 .p-spinner.ng-valid {
  border-left: 5px solid green;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}

:host ::ng-deep .p-calendar {
  height: 30px;
}
